# Uploaded files
backend/static/uploads/

# Python
__pycache__/
*.pyc
*.pyo
.env

# macOS
.DS_Store
backend/.env

# Virtual environments
.venv/

backend/ai_engine/ml/data/meal_training.csv
backend/ai_engine/ml/data/exercise_training.csv
backup-backend