flask==3.1.0
flask-cors==5.0.0
mysql-connector-python==9.3.0
bcrypt==4.2.1
PyJWT==2.10.1
python-dotenv==1.1.0
pydantic[email]>=2.0
requests>=2.32.0
joblib==1.5.3
lightgbm==4.6.0
pandas==3.0.3
scikit-learn==1.9.0
flask-socketio==5.6.1
python-socketio==5.16.3
python-engineio==4.13.3
simple-websocket==1.1.0