fastapi>=0.115.0
uvicorn[standard]>=0.32.0
python-multipart>=0.0.12
mysql-connector-python==9.3.0
bcrypt==4.2.1
PyJWT==2.10.1
python-dotenv==1.1.0
pydantic[email]>=2.0
requests>=2.32.0
stripe>=11.0.0
joblib==1.5.3
lightgbm==4.6.0
pandas==3.0.3
scikit-learn==1.9.0
python-socketio==5.16.3
python-engineio==4.13.3
